<h1>Edit Player</h1>
<%= form_for(@player) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Edit" %>
  </div>
<% end %>
