<% @players.each do |player| %>
<div class="player">
  <p class="content"><%= link_to player.name, player %></p>
<!--  <%= link_to 'Delete Player', player_path(player),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p> -->
</div>
<% end %>
<%= link_to 'New Player', "players/new" %>
