<h1>Create New Player</h1>
<%= form_for(@player) do |f| %>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
